 *{
    box-sizing: border-box;
    /* outline: 1px solid greenyellow !important; */
    
} 
#frame-nav{
    margin-bottom: 70px;
}
nav{
    /* display: flex; */
    position: fixed;
    background-color: white;
    top: 0px;
    /* list-style-type: none; */
    height: auto; 
    /* align-items: center; */
    /* list-style-type: none; */
    width: 100%;
    /* background-color: aqua; */
}
nav li{
    font-size: 19px;
    padding: 0px 15px;
    list-style-type: none;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button{
    width: 60px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 20px;
}
.only-button:active{
    border: none;
    background-color: black;
    color: white;
}
.only-button:visited{
    border: none;
    background-color: black;
    color: white;
}
.dropdown-create{
    display: inline-block;
    position: relative;
}
.dropdown-create-elements{
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    background-color: white;
    height: auto;
}
.dropdown-create:hover .dropdown-create-elements{
    justify-content: left;
    position: fixed;
    display: block;
    height: auto;
}
#look-for{
    border-radius: 20px;
    background-color: rgba(217, 216, 216, 0.755);
    border: 0.5px solid white;
    width: 750px;
    height: 50px; 
}
#look-for:focus{
    outline: none;
    border: 3px solid rgb(144, 198, 216);
}
.button-nav{
    display: contents;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 20px;
}
.button-nav:hover{
    background-color: gray;
}
.img-button-nav{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.img-button-nav:hover{
    background-color: rgb(212, 198, 198);
}
.dropdown-options{
    display: inline-block;
    position: relative;
    
}
.dropdown-options-elements{
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    background-color: white;
    height: auto;
}
.dropdown-options:hover .dropdown-options-elements {
    justify-content: left;
    position: fixed;
    display: block;
    height: auto;
    right: 0%;
}
.dropdown-options-elements section{
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.frame-options{
    display: block;
    margin-bottom: 5px;
}
.down-button{
    display: block;
    width: max-content;
    border-radius: 5%;
    margin: 4px 1px;
}
.down-button:hover{
    background-color: rgb(212, 198, 198);
}
.header-menu{
    margin: 1px 1px;
}
.frame-img{
    display: inline-block;
    position: relative;
    
}
.save{
    display: none;
    position: absolute;
    overflow: auto;
    background-color: red;
    color: white;
    padding: 10px;
    right: 15px;
    border-radius: 15px;
    width: 70px;
    border-style: none;
}
.img-low{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 0% 2%;
}
.low{
    display: none;
    position: absolute;
}
.frame-img:hover {
    filter: contrast(0.6);
}
.frame-img:hover .save {
    display: flex;
    top: 25px;
    right: 10px;
}
.frame-img:hover .low {
    display: flex;
    height: auto;
    right: 10px;
    bottom: 25px;
}
.feed-images{
    columns: 6;
}
.images{
    max-width: 100%;
    margin: 15px 10px;
    width: 225px;
    height: auto;
    border-radius: 10px;
}