.feed-images{
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: row;
    flex-wrap: wrap;

    
}

.images{
    flex: 1;
    margin: 15px 10px;
    width: 225px;
    height: auto;
    border-radius: 10px;
}